# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

#CMake
CMakeLists.txt.*

# QtCreator

*.autosave

# Clion
.idea
.idea/*

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# OS X
.DS_Store
